<div class="container">
  <form class="form">
    <input
      type="text"
      id="search-input"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="search-button">Search</button>
  </form>

  <div class="gallery"></div>
  <button type="button" class="load-more not-visible">Load more</button>
</div>

<!-- not-visible -->

<!-- <button type="button" class="load-more">Load more</button> -->

<!-- <form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit">Search</button>
</form> -->
